<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Common/EasyUI/themes/gray/easyui.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Common/EasyUI/themes/icon.css">
    <link href="~/Common/EasyUI/themes/color.css" rel="stylesheet" />
      
    <link href="~/Common/MainTabs/css/public.css" rel="stylesheet" />
    <link href="~/Common/MainTabs/css/houtai.css" rel="stylesheet" /> 
    <link href="~/Common/MainTabs/css/smartMenu.css" rel="stylesheet" />
     
    <script type="text/javascript" src="~/Common/MainTabs/js/jquery.min.js"></script>  
    <script type="text/javascript" src="~/Common/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Common/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Common/Common.js"></script>
    <style type="text/css">
        
        
        #header { 
            width:100%; 
            height:30px;
            padding-top:10px;
            padding-bottom:10px;
            text-align:center;
        }

     .link_column{
        color:#1bb03a;text-decoration:underline;
    }

    .permission {
     display:none;
    }

    </style>
     


</head>
<body> 
    <div id="admin">
        <div id="header" style="width:100%;height:80px;background:#808080;
            text-align:center;"> 
          <span style="font-size:45px;color:ivory;">上海赛迅数据处理系统</span>  
            <div style="float:right;width:300px;padding-top:15px;">
                <span id="spCurUser" style="font-size:15pt;color:#f2fdd9;margin-right:40px;">@ViewBag.User.RealName</span>
                <span id="spExitLogin" style="font-size:12pt;color:#ffd800;cursor:pointer" onclick="loginOut();">退出登录</span>
            </div>
</div>
     <div class="ad-menu" id="ad-menu">
                    <div class="ad-list">
                        <ul> 
                            <li id="liOrder">
                                <div class="li-item"><em class="scm li-ico ic1"></em>面单管理<span class="scm arrow"></span></div>
                                <dl>
                                    <dd id="ddOrderList">
                                        <a href="@Url.Content("~/Order/Index")" class="dd-item">接单列表<span class="scm dd-ar"></span></a>
                                    </dd>
                                    <dd id="ddOrderDispose">
                                        <a href="@Url.Content("~/Order/Dispose")" class="dd-item">处理<span class="scm dd-ar"></span></a>
                                    </dd>  
                                </dl>
                            </li>  
                        </ul>
                    </div>
                </div>
                <div class="ad-comment-box" id="ad-comment">
                    @RenderBody()
                </div>
            </div>
  
    <script type="text/javascript" src="~/Common/MainTabs/js/contabs.js"></script>
    <script type="text/javascript" src="~/Common/MainTabs/js/maintabs.js"></script>
    <script type="text/javascript" src="~/Common/MainTabs/js/jquery-smartMenu-min.js"></script>
    <script type="text/javascript" src="~/Common/MainTabs/js/jquery.nicescroll.min.js"></script>

    <script type="text/javascript">

        $(function () { 
                $(".ad-menu").niceScroll({cursorborder:"0 none",cursorcolor:"#1a1a19",cursoropacitymin:"0",boxzoom:false}); 
        })

        function loginOut() {
            window.location.href = "@Url.Content("~/Home/Login")";
        }
         
    </script>
     
</body>

</html>
